# vim: noet:sw=8:ts=8:tw=79
[color]
	ui = auto
[color "branch"]
	current = yellow
	local = normal
	remote = blue
[color "diff"]
	meta = blue reverse
	frag = reverse
	old = red
	new = green
[color "status"]
	header = blue
	updated = green
	changed = yellow
	untracked = normal
	nobranch = red bold
[diff]
	renames = copy
	renameLimit = 20000
	mnemonicprefix = true
	wordregex = [^[:space:]]|([[:upper:][:digit:]]|UTF_8_GUARD)*([[:lower:][:digit:]]|UTF_8_GUARD)+
	tool = bc3
[pretty]
	info = format:%C(yellow)%h%C(reset) %C(blue)%ad%C(reset) %C(green)%an%C(reset)%C(red)%d%C(reset) %s
[alias]
	ap = add -p
	br = branch
	brcl = !git branch | grep -v \\* | xargs git branch -d
	brcld = !git branch | grep -v \\* | xargs git branch -D
	co = checkout
	com = !sh -c 'git checkout feature/MOBILE-$1' -
	cv = commit -v
	d = diff
	dc = diff --cached
	dccw = diff --cached --color-words
	dcw = diff --color-words
	ds = diff --stat
	dt = difftool -y
	dtc = difftool -y --cached
	graph = log --graph --oneline --decorate
	k = log --graph --oneline --decorate
	ka = log --graph --oneline --decorate --all
	up = log --graph --oneline --decorate @{u}~..HEAD
	st = status
	pr = log --oneline --abbrev=10 --reverse
	mnff = merge --no-ff
	pushit = push -u origin HEAD
	ds = diff --stat
	pu = log --graph --oneline --decorate HEAD~..@{u}
	msg = !exec cat .git/COMMIT_EDITMSG
	mmsg = !exec cat .git/MERGE_MSG
	bc = difftool --dir-diff --no-symlink
 	push-to-testing = push -f origin head:testing
	ci = commit
	alias = config --get-regexp ^alias\\.
[push]
	default = simple
[merge]
	conflictstyle = diff3
	tool = bc3
[difftool]
	prompt = false
[difftool "bc3"]
	trustExitCode = true
[mergetool "bc3"]
	trustExitCode = true
[user]
	email = matt.deckard@asynchrony.com
	name = Matt Deckard
