# don't ignore stuff that seems like config files or custom scripts
!.*
!bin/
!bin/**
!.vim/
!.vim/**
!.gitignore
!.*rc*
!.*config*
!.config/

# except these specific ones
.bashrc
.dmrc
.netrwhist
.DS_Store
